<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Inicio</title>
    </head>

    <body>
        <h2>Bienvenido</h2>

        <p>Tu rol es: <span th:text="${rol}"></span></p>

        <nav>
            <div th:if="${#authorization.expression('hasRole(''Administrador'')')}">
                <a th:href="@{/usuarios}">Ver usuarios</a>
            </div>

            <div th:if="${#authorization.expression('hasAnyRole(''Administrador'',''Cliente'')')}">
                <a th:href="@{/servicios}">Ver servicios</a>
            </div>

            <div th:if="${#authorization.expression('hasRole(''Cliente'')')}">
                <a th:href="@{/perfil}">Editar mi perfil</a>
            </div>

            <div id="mensajeExito" th:if="${param.actualizado}">
                <p style="color:green;">Tu perfil ha sido actualizado correctamente</p>
            </div>

            <br><br>

            <form th:action="@{/logout}" method="post">
                <button type="submit">Cerrar sesion</button>
            </form>
        </nav>

        <script>
            setTimeout(function () {
                const mensaje = document.getElementById("mensajeExito");
                if (mensaje) {
                mensaje.style.display = "none";
                }
            }, 4000); // 4 segundos
        </script>

    </body>

</html>