<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registro de Usuario</title>
</head>

<body>
    <h1>Crear/Editar Cuenta de Usuario</h1>

    <form th:action="@{/register}" th:object="${usuario}" method="post">

        <input type="hidden" th:field="*{idUser}" />

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nomUser}" required><br><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" th:field="*{apeUser}" required><br><br>

        <label for="correo">Correo (Username):</label>
        <input type="email" id="correo" th:field="*{correoUser}" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" th:field="*{password}" required><br><br>

        <hr>

        <label for="documento">Número de Documento:</label>
        <input type="text" id="documento" th:field="*{numeroDoc}" required><br><br>

        <label for="tipoDoc">Tipo de Documento:</label>
        <select id="tipoDoc" th:field="*{tipoDoc}" required>
            <option value="">Seleccione...</option>
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="PPT">PPT</option>
            <option value="CE">CE</option>
            <option value="PA">PA</option>
            <option value="NIT">NIT</option>
        </select><br><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" th:field="*{telUser}" required><br><br>

        <hr>

        <div>
            <label for="rol">Rol del Usuario:</label>
            <select id="rol" th:field="*{idRolUser}" required>
                <option value="">-- Asignar Rol --</option>
                <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.nomRol}">
                    Seleccionar Rol
                </option>
            </select><br><br>
        </div>

        <div>
            <label for="estadoUser">Estado (Activo):</label>
            <input type="checkbox" id="estadoUser" th:field="*{estUser}">
            <small> Marque para Activar el Usuario</small><br><br>
        </div>

        <hr>

        <button type="submit">Guardar Usuario</button>

    </form>

    <p><a th:href="@{/}">Volver al Inicio Principal</a></p>
</body>

</html>