<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Servicios</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/estilos.css">
    </head>

    <body>
        <h2>Lista de Servicios</h2>

        <!-- Nuevo Servicio solo visible para Administrador -->
        <div th:if="${#authorization.expression('hasRole(''Administrador'')')}">
            <a th:href="@{/servicios/nuevo}">Nuevo Servicio</a>
        </div>

        <br><br>

        <table>
            <thead>
                <tr>
                    <th>Código de barras</th>
                    <th>Nombre</th>
                    <th>Duración</th>
                    <th>Estado</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <!-- Acciones solo visibles para Administrador -->
                    <th th:if="${#authorization.expression('hasRole(''Administrador'')')}">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="s : ${servicios}">
                    <td th:text="${s.ID_SERVICIO}"></td>
                    <td th:text="${s.NOM_SERV}"></td>
                    <td th:text="${s.DURACION_SERV}"></td>
                    <td th:text="${s.EST_SERV ? 'Activo' : 'Inactivo'}"></td>
                    <td th:text="${s.DESCP_SERV}"></td>
                    <!-- Precio con formato decimal -->
                    <td th:text="${'$' + #numbers.formatDecimal(s.PRECIO_SERV, 1, 'POINT', 2, 'COMMA')}"></td>

                    <!-- Acciones solo para Administrador -->
                    <td th:if="${#authorization.expression('hasRole(''Administrador'')')}">
                        <a th:href="@{/servicios/editar/{id}(id=${s.ID_SERVICIO})}">Editar</a>
                        <a th:href="@{/servicios/eliminar/{id}(id=${s.ID_SERVICIO})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            <form th:action="@{/home}" method="get">
                <button type="submit">Volver al inicio</button>
            </form>
        </div>
    </body>
</html>