<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    <link rel="stylesheet" th:href="@{/usuarios.css}">
</head>
<body>
    <h1>Lista de usuarios</h1>

    <a th:href="@{/usuarios/nuevo}">➕ NUEVO USUARIO</a>
    <br/><br/>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Tipo Doc</th>
                <th>Documento</th>
                <th>Rol</th>
                <th>Tel</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.idUser}">1</td>
                <td th:text="${u.nomUser}">Nombre</td>
                <td th:text="${u.apeUser}">Apellido</td>
                <td th:text="${u.correoUser}">correo</td>

                <td th:text="${u.estUser ? 'Activo' : 'Inactivo'}"></td>
                
                <td th:text="${u.tipoDoc != null ? u.tipoDoc.getDescripcion() : 'N/A'}">Cédula de Ciudadanía</td>

                <td th:text="${u.numeroDoc}">123</td>
                
                <td th:text="${u.rol != null ? u.rol.nomRol : 'Sin Asignar'}">Cliente</td>

                <td th:text="${u.telUser}">3001234567</td>

                <td>
                    <a th:href="@{'/usuarios/editar/' + ${u.idUser}}">Editar</a> |
                    
                    <a th:href="@{'/usuarios/eliminar/' + ${u.idUser}}"
                       onclick="return confirm('¿Estás seguro de que quieres eliminar a este usuario?')">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Para administradores -->
        <a th:href="@{/dashboard}" 
        class="btn btn-secondary mt-3" 
        sec:authorize="hasRole('ADMINISTRADOR')">
            <i class="bi bi-house-door"></i> Volver al Dashboard
        </a>

</body>
</html>