<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #333; padding: 6px; text-align: left; }
        th { background: #eee; }
    </style>
</head>
<body>
    <h1>Lista de usuarios</h1>
    <a href="/usuarios/nuevo">Nuevo usuario</a>
    <br/><br/>

<!-- Formulario de búsqueda -->
<form th:action="@{/usuarios/buscar}" method="get" style="margin-bottom:20px;">
    <input type="text" name="keyword" placeholder="Buscar por nombre o documento" />
    <button type="submit">🔍</button>
</form>






    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Documento</th>
                <th>Rol</th>
                <th>Tipo Doc</th>
                <th>Tel</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.idUser}">1</td>
                <td th:text="${u.nombre}">Nombre</td>
                <td th:text="${u.apellido}">Apellido</td>
                <td th:text="${u.correo}">correo</td>
                <td th:text="${u.estado ? 'Activo' : 'Inactivo'}"></td> <!--mostrar activo inactivo en la tabla -->
                <td th:text="${u.documento}">123</td>
                <td th:text="${u.rol}">Cliente</td>
                <td th:text="${u.tipoDoc}">Cedula Ciudadania</td>
                <td th:text="${u.telefono}">3001234567</td>
                <td>
                    <a th:href="@{'/usuarios/editar/' + ${u.idUser}}">Editar</a> |
                    <a th:href="@{'/usuarios/eliminar/' + ${u.idUser}}"
                       onclick="return confirm('¿Eliminar usuario?');">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- Botón Exportar a PDF -->
<div style="margin-top:20px;">
    <form th:action="@{/usuarios/exportar-pdf}" method="get">
        <button type="submit">Exportar a PDF</button>
    </form>
</div>


</body>
</html>